on: ["pull_request"]

jobs:
  check-spelling:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Check Spelling
        uses: streetsidesoftware/cspell-action@9cd41bb518a24fefdafd9880cbab8f0ceba04d28  # 8.3.0
        with:
          # Only check markdown files
          files: '**/*.md'
          incremental_files_only: false # TODO revert once working
          config: "cspell.json"
