on: ["pull_request"]
name: Static checks
jobs:
  static-checks:
    runs-on: ubuntu-24.04
    env:
      GOPATH: ${{ github.workspace }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: ./src/github.com/${{ github.repository }}

      - name: Install system dependencies
        run: |
          sudo apt-get -y install moreutils hunspell hunspell-en-gb hunspell-en-us pandoc

      - name: Setup Golang version ${{ env.GO_VERSION }}
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0

      - name: Running static checks
        run: |
          export PATH=${GOPATH}/bin:${PATH}
          ./src/github.com/${{ github.repository }}/.ci/static-checks.sh
